
.fonte-diferente {
    
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  
  .fonte{
    color: rgba(251, 176, 77, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
   
  }
  
  #titulo{
    background-color: rgba(72, 45, 131, 1);
  
    font-size: rgba(33, 33, 33, 1);
  
  }
  
  #container {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
  }
  
  .lat{
    width: 175px;
    background-color: rgba(72, 45, 131, 1);
    padding-right: 15px;
    padding-top: 23px;
    font-size: 20px;
    height: 100%;
    
   
  }
  
  .top{
    display: flex;
    background-color: white;
    color: black;
    text-align: right;
    padding: 20px; 
    
  }
  .nome{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
   
  }
  .email{
    font-size: 10px;
   
  }
  .info-top, .img-top{
    flex: 1;
    
  }
  .content  {
    flex: 1; /* indica que o elemento deve crescer e ocupar todo o espaço disponível no container flexível.*/
    display: flex; /* Essa propriedade define que o elemento será tratado como um container flexível.
                     Isso permite que os elementos filhos dentro desse container sejam posicionados e 
                     ajustados usando as propriedades flexbox.*/
    flex-direction: column; /*o que significa que os elementos serão empilhados verticalmente, de cima para baixo.
     Os elementos serão exibidos em colunas, um abaixo do outro. */
     background-color: rgb(	245,245,245); 
     padding-bottom: 400px;
  }
  
  
  #titulo{
    
    font-weight: bolder;
    font-size: 20px;
    flex: 1;
    background-color:rgb(245, 245, 245) ;
    padding-left: 10px;
    
    
   
  }
  
  
  
  #botao-top{
    overflow: auto; 
    margin-top: -15px;
  
  }
  
  
  #icon{
  
    border: none;
    background-color:  rgba(72, 45, 131, 1);
    color: white;
    flex: 1;
    display: flex;
    padding-top: 25px;
  
    
  }
  
  #contentBox{
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    padding: 20px;
  }
  
  input{
    border-radius: 10px;
   
    width: 25%;
    font-size: 5px;
  }
  #button{
    background-color: rgba(72, 45, 131, 1) ;
    color: white;
    border-radius: 10px;
    width: 25%;
    height: 30px;
    font-size: 10px;
    margin: 15px;
  }
  
  
  
  
  
  
  
   
  
  
  