
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#bodyLogin{
    width: 420px;
}

 h5{
    font-size: 20px;
    font-family: 'Sora', sans-serif;   
    font-weight: normal;
    
}

#bodyLogin h1{
    padding-bottom: 55px;
     font-size: 37px;   
   
}
.input-box{ 
    color: #00C247;
}
.bodyLogin .input-box{
    width: 100%;
    height:50px ;
    margin: 30px 0;
}

.input-box input {
    height: 50px;
    width: 90%;
    border: 2px solid #00C247;
    border-radius: 15px;
    padding: 20px 45px 20px 20px;
  
}

.input-box input::placeholder{
    color: grey;
}

#bodyLogin .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    padding-bottom: 20px;
}

.remember-forgot label input{
    accent-color: blue;
    margin-right: 3px;
    font-weight: bold;
}

.remember-forgot a {
  color:#060606d0;
  text-decoration: none;
  font-size: 15px;
 
}

.remember-forgot a:hover{ 
    text-decoration: underline;
   
}

.btn {
   width: 100%;
    height: 45px;
    background:#482D83;
    color: aliceblue;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn a {
    background-color: transparent;
    border-radius: 15px;
}




